freespace-aurora_autogen/
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
config.tests/
Makefile
freespace-aurora
*.autosave
.rcc/
paxpython/
libuniverse.so
paxpython.so
paxpython_autogen/
libuniverse_autogen/
mjb_rejected_*.log
python_binding_autogen/
libpython_binding.so
